@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{ background-color: #233F4D
}


h1 {color: white;
  font-family: Open Sans;
  text-align: center;
  font-size: 60px;
  border-style: hidden;
  margin-top: 70px;
  margin-right: 150px;
  margin-left: 80px;


}
p{color: white;
  font-family: Open Sans;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 100px;
  
}
h2 {color: white;
  font-family: Open Sans;
  text-align: center;
  font-size: 50px;
  border-style: hidden;
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 80px;

}
h4 {
  color: white;
  font-family: Open Sans;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 100px;
  padding-top: 1px;
  padding-bottom: 2px;
}
a
{ text-decoration: none;
  color: white;
  font-family: Open Sans;


 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-style: hidden;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 80px;

}
li {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#images {
    text-align: center;
    margin: 100px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}


#fishImgContainer {
  background: white;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}


 address {
    color: white;
    font-family: Open Sans;
    margin-left: 1000px;
    display: inline-block;

 }
 map {
      width: 400px;
      height: 400px;
      background: yellow;
    }

